@charset "UTF-8";
/*----------------"nullstyle"----------------*/
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
/*----------------"nullstyle"----------------*/
/*----------------<Variables>----------------*/
/*----------------</Variables>----------------*/
@-webkit-keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(80px);
            transform: translateY(80px);
  }
}
@keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(80px);
            transform: translateY(80px);
  }
}

/*----------------<Fonts>----------------*/
/*----------------</Fonts>----------------*/
/*----------------<Container>----------------*/
.container {
  width: 1400px;
  margin: 0 auto;
  height: inherit;
  padding: 0 10px;
}

/*----------------</Container>----------------*/
html {
  color: #05051E;
}

.link-button {
  display: inline-block;
  margin: 10px 20px;
  color: #524f4e;
  background: white;
  -webkit-box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  -webkit-transition: .3s;
  transition: .3s;
  display: inline-block;
  font-family: Open Sans;
  font-weight: 700;
  background: #FFCC00;
  color: #05051E;
  padding: 20px 50px;
  border-radius: 15px;
  text-transform: uppercase;
}

.link-button:hover {
  background: #FFCC00;
  -webkit-box-shadow: 0 15px 20px rgba(255, 204, 0, 0.4);
          box-shadow: 0 15px 20px rgba(255, 204, 0, 0.4);
  -webkit-transform: translateY(-7px);
          transform: translateY(-7px);
  color: #05051E;
}

.link-button:visited {
  color: #05051E;
}

.link-button:active {
  color: #05051E;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.title {
  font-family: Ubuntu;
  font-size: 30px;
  padding: 30px 0;
  line-height: 30px;
}

.subtitle {
  font-family: open sans;
  font-size: 20px;
  line-height: 30px;
}

/*----------------<imports>----------------*/
header {
  /*   position: absolute;
    top: 0;
    left: 0; */
  background: #3098F3;
  color: #ffffff;
  height: 100px;
  width: 100%;
  overflow: hidden;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  /* &:hover {
        box-shadow: 0px 6px 39px 3px rgba(34, 60, 80, 0.2);
    } */
  /*  &::after {
        content: '';
        bottom: 0;
        left: 0;
        position: absolute;
        width: 100%;
        height: 3px;
        background: $dark;
        transform: scaleX(0);
        transition: 0.3s;

    }

    &:hover::after {
        transform: scaleX(1);
    } */
}

.header.fixed {
  position: fixed;
  top: 0;
  left: 0;
  background: #3098F3;
  -webkit-box-shadow: 0px 6px 39px 3px rgba(34, 60, 80, 0.2);
          box-shadow: 0px 6px 39px 3px rgba(34, 60, 80, 0.2);
}

.header.fixed .header-body a {
  color: #ffffff;
}

.header-body {
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 20px;
  font-size: 40px;
  font-family: Ubuntu;
  font-weight: 700;
  color: #F2EAE2;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header-body a {
  color: #ffffff;
}

.header-body a:visited {
  color: #ffffff;
}

.header-body:hover a {
  color: #ffffff;
}

footer {
  background: url("../../img/Nr9XEKoYq2U.jpg") no-repeat 0 0/cover;
}

.footer-body {
  color: #F2EAE2;
  padding: 5px 0;
}

.footer-body__names a {
  color: #ffffff;
}

/*----------------</imports>----------------*/
@media (max-width: 1400px) {
  .container {
    max-width: 970px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 750px;
  }
}

@media (max-width: 767px) {
  .container {
    width: 100%;
    padding: 0 20px;
  }
}

html {
  background: #3098F3;
  color: #05051E;
}

body.lock {
  overflow: hidden;
}

.guides-title {
  line-height: 50px;
}

.guides-title::after {
  content: '';
  display: block;
  width: 80%;
  background: #A2C2D0;
  height: 5px;
  border-radius: 5px;
  margin: 0 0 20px 0;
}

.comingsoon {
  padding-left: 20px;
  font-size: 30px;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: 1;
      flex-wrap: 1;
}

.card {
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 50px;
  font-family: open sans;
  -webkit-box-flex: 300px;
      -ms-flex: 300px 0 0px;
          flex: 300px 0 0;
  margin: 20px;
  border-radius: 50px;
  background: #D9E5E4;
  text-align: center;
  -webkit-box-shadow: 0px 0px 19px 3px rgba(34, 60, 80, 0.3);
          box-shadow: 0px 0px 19px 3px rgba(34, 60, 80, 0.3);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.card:hover {
  -webkit-box-shadow: 0px 0px 19px 3px rgba(34, 60, 80, 0.6);
          box-shadow: 0px 0px 19px 3px rgba(34, 60, 80, 0.6);
}

.card .card-item {
  padding: 20px;
}

.card .card-img {
  border-radius: 40px 40px 0 0;
  overflow: hidden;
}

.card .card-img img {
  max-width: 100%;
}

.card a {
  color: #05051E;
}

.card a:visited {
  color: #05051E;
}

.card .card-title {
  font-weight: 700;
  font-size: 20px;
  padding: 20px 0 0;
}

.card .card-title::after {
  content: '';
  display: block;
  width: 80%;
  margin: 20px auto 0;
  height: 2px;
  background: #A2C2D0;
}

.card .card-text {
  padding: 20px;
}

/*-----<popup>-----*/
.popup {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  overflow-y: auto;
  overflow-x: hidden;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.popup__content {
  background: #ffffff;
  padding: 30px;
  width: 80%;
  min-height: 80%;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.popup__close {
  position: absolute;
  right: 15px;
  top: 15px;
  height: 50px;
}

.popup__close img {
  height: 50px;
}

.popup__text {
  text-align: left;
}

.popup.open {
  opacity: 1;
  visibility: visible;
}

.popup.open .popup__content {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.popup-body {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
}

/*-----</popup>-----*/
/*-----<info>-----*/
.info {
  padding: 100px 0 0;
  color: #ffffff;
  background: #3098F3;
}

.info-body {
  padding: 10px;
}

/*-----</info>-----*/
/*-----<>-----*/
.guides {
  background: #3098F3;
}

.guides-menu {
  position: absolute;
  padding: 50px 20px 50px 10px;
  background: #3098F3;
  -webkit-box-flex: 20%;
      -ms-flex: 20% 0 0px;
          flex: 20% 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.guides-menu a {
  font-family: Open sans;
  font-weight: 700;
  padding: 20px;
  margin: 10px;
  border-radius: 20px;
  -webkit-box-shadow: 0px 0px 19px 3px rgba(34, 60, 80, 0.4) inset;
          box-shadow: 0px 0px 19px 3px rgba(34, 60, 80, 0.4) inset;
  background: #ffffff;
  color: black;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.guides-menu a:visited {
  color: black;
}

.guides-menu a:hover {
  padding: 25px 20px;
}

.guides-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.guides-content {
  background: #ffffff;
  border-radius: 50px 0 0 50px;
  padding: 50px;
  -webkit-box-flex: 80%;
      -ms-flex: 80% 0 0px;
          flex: 80% 0 0;
  margin: 0 0 10px 0;
}

@media (max-width: 1400px) {
  .container {
    max-width: 90%;
  }
  .info {
    padding: 10px;
  }
  .guides-menu {
    left: 10px;
  }
  .cards {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .card {
    -webkit-box-flex: 300px;
        -ms-flex: 300px 0 0px;
            flex: 300px 0 0;
    max-height: 350px;
  }
}
